.Nav-bar {
  display: flex;
  gap: 20px;
  padding: 0.5em 0 0.5em 4rem;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.icon-continer {
  display: flex;
  gap: 5px;
}

.logo-image {
  width: 3rem;
  height: 3rem;
}

.options-continer {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 24px 20px 0 0;
}

.Nav-bar-element {
  color: #277bc0;
  cursor: pointer;
  text-decoration: none;
}

.rocket-continer {
  display: flex;
  padding: 10px 5px 0 5px;
  gap: 10px;
}

.text-continer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.image {
  height: 150px;
  width: 150px;
}

.card-button {
  color: #f4f4f4;
  background-color: #277bc0;
  border: none;
  height: 30px;
  border-radius: 5px;
  width: 150px;
}

.rocket-name {
  margin: 0;
  padding: 0;
}

.paragraph-cont {
  display: flex;
  gap: 5px;
  margin: 5px 0 5px 0;
}

.reserved-button {
  padding: 0 3px 0 3px;
  border-radius: 5px;
  border: none;
  background-color: #54bab9;
  color: #f4f4f4;
}

.rocket-des {
  margin: 0;
  padding: 0;
}

.cancel-button {
  color: #a2a2a2;
  background-color: #f4f4f4;
  border-color: #a2a2a2;
  height: 30px;
  border-radius: 5px;
  width: 150px;
}


.profile-cont {
  display: flex;
  gap: 5rem;
}

.rockets-profile {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.profile-card {
  border: solid;
  border-width: 1px;
  border-color: #a2a2a2;
  padding-left: 10px;
}

